---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Coming Soon...">
	<main>
		<h1>Coming Soon...</h1>
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 100vh;
	}
</style>
