---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.jsx";
---

<Layout title="Thomas Coin">
    <Background client:idle />
    <main class="grid place-items-center h-screen">
        <div class="flex flex-col gap-16 text-center text-white [&>*]:m-auto">
            <div>
                <h1 class="text-6xl">Thomas Coin</h1>
                <p class="text-zinc-400 text-xl italic">
                    The final currency...
                </p>
            </div>
            <img src="/logo.svg" class="w-64 h-64" alt="Thomas coin logo" />
            <button
                class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 text-white"
            >
                <a
                    class="relative px-6 py-2.5 text-lg font-medium transition-all ease-in bg-gray-900 rounded-lg group-hover:bg-opacity-0 duration-75"
                    href="https://github.com/principle105/thomas-coin"
                    target="_blank"
                >
                    View on Github
                </a>
            </button>
        </div>
    </main>
</Layout>
