---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="The final currency" />
        <meta name="keywords" content="thomas coin" />
        <meta name="author" content="principle105" />
        <meta property="og:image" content="/logo.svg" />
        <title>{title}</title>
    </head>
    <body class="bg-zinc-900">
        <slot />

        <style>
            @keyframes slideIn {
                0% {
                    transform: translateX(-100%) scale(1, 0);
                    opacity: 0;
                }

                100% {
                    transform: translateX(0) scale(1, 1);
                    opacity: 1;
                }
            }
            body {
                animation: 500ms ease 0s 1 slideIn;
            }
        </style>
    </body>
</html>
